<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Angular</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <courses></courses>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favorite>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-bootstrap-panel>
                <ng-container class="heading">
                    Heading
                </ng-container>
                <div class="body">
                    <h3> body</h3>
                    <p>This is body</p>

                </div>

            </app-bootstrap-panel>
        </div>
    </div>
</div>